<!-- Ancillaries开始 -->
<div class="content Ancillaries">
	<h3 class="bg-warning my-h3">辅助类</h3>
	<div class="my-code-check">
		<h4 class="my-h4 text-primary">情境文本颜色&nbsp;&nbsp;<small class="my-check pull-right">查看代码</small><!-- <small class="my-change pull-right">自定义样式</small> --></h4>
		<!-- <div class="my-change-style">
			<p class="my-change-run">
				<small class="my-run-code">运行代码</small>
				<small class="my-back-code">复位样式</small>
			</p>
			<textarea class="form-control" rows="11"></textarea>
		</div> -->
		<p class="my-info">通过颜色来展示意图，Bootstrap 提供了一组工具类。这些类可以应用于链接，并且在鼠标经过时颜色可以还可以加深，就像默认的链接一样。</p>
		<div class="my-base">
			<div class="my-code">
				<small class="my-clone">复制代码</small>
				<pre class="my-pre"></pre>
			</div>
			<div class="my-html">
				<p class="text-muted">.text-muted -> 通过颜色来展示意图，Bootstrap 提供了一组工具类。</p>
				<p class="text-primary">.text-primary -> 通过颜色来展示意图，Bootstrap 提供了一组工具类。</p>
				<p class="text-success">.text-success -> 通过颜色来展示意图，Bootstrap 提供了一组工具类。</p>
				<p class="text-info">.text-info -> 通过颜色来展示意图，Bootstrap 提供了一组工具类。</p>
				<p class="text-warning">.text-warning -> 通过颜色来展示意图，Bootstrap 提供了一组工具类。</p>
				<p class="text-danger">.text-danger -> 通过颜色来展示意图，Bootstrap 提供了一组工具类。</p>
			</div>
		</div>
	</div>
	<div class="my-code-check">
		<h4 class="my-h4 text-primary">情境背景色&nbsp;&nbsp;<small class="my-check pull-right">查看代码</small></h4>
		<p class="my-info">使用任意情境背景色类就可以设置元素的背景</p>
		<div class="my-base">
			<div class="my-code">
				<small class="my-clone">复制代码</small>
				<pre class="my-pre"></pre>
			</div>
			<div class="my-html">
				<p class="bg-primary">.bg-primary -> 通过颜色来展示意图，Bootstrap 提供了一组工具类。</p>
				<p class="bg-success">.bg-success -> 通过颜色来展示意图，Bootstrap 提供了一组工具类。</p>
				<p class="bg-info">.bg-info -> 通过颜色来展示意图，Bootstrap 提供了一组工具类。</p>
				<p class="bg-warning">.bg-warning -> 通过颜色来展示意图，Bootstrap 提供了一组工具类。</p>
				<p class="bg-danger">.bg-danger -> 通过颜色来展示意图，Bootstrap 提供了一组工具类。</p>
			</div>
		</div>
	</div>
	<div class="my-code-check">
		<h4 class="my-h4 text-primary">快速浮动&nbsp;&nbsp;<small class="my-check pull-right">查看代码</small></h4>
		<p class="my-info">通过添加<b class="text-danger">.pull-left</b>或<b class="text-danger">.pull-right</b>类，可以将任意元素向左或向右浮动</p>
		<div class="my-base">
			<div class="my-code">
				<small class="my-clone">复制代码</small>
				<pre class="my-pre"></pre>
			</div>
			<div class="my-html">
				<div class="pull-left text-success">float left</div>
				<div class="pull-right text-success">float right</div>
			</div>
		</div>
	</div>
	<div class="my-code-check">
		<h4 class="my-h4 text-primary">关闭按钮&nbsp;&nbsp;<small class="my-check pull-right">查看代码</small></h4>
		<p class="my-info">通过使用一个象征关闭的图标，可以让模态框和警告框消失。</p>
		<div class="my-base">
			<div class="my-code">
				<small class="my-clone">复制代码</small>
				<pre class="my-pre"></pre>
			</div>
			<div class="my-html">
				<button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
		</div>
	</div>
	<div class="my-code-check">
		<h4 class="my-h4 text-primary">清除浮动
&nbsp;&nbsp;<small class="my-check pull-right">查看代码</small></h4>
		<p class="my-info">通过为父元素添加 <b class="text-danger">.clearfix</b> 类可以很容易地清除浮动（<b class="text-danger">float</b>）</p>
		<div class="my-base">
			<div class="my-code">
				<small class="my-clone">复制代码</small>
				<pre class="my-pre"></pre>
			</div>
			<div class="my-html">
				<!-- Usage as a class -->
				<div class="clearfix">...</div>
			</div>
		</div>
	</div>
	<div class="my-code-check">
		<h4 class="my-h4 text-primary">显示或隐藏内容
&nbsp;&nbsp;<small class="my-check pull-right">查看代码</small></h4>
		<p class="my-info"><b class="text-danger">.show</b> 和 <b class="text-danger">.hidden</b> 类可以强制任意元素显示或隐藏(对于屏幕阅读器也能起效)。这些类通过 <b class="text-danger">!important</b> 来避免 <b class="text-danger">CSS</b> 样式优先级问题<br/>另外，<b class="text-danger">.invisible</b> 类可以被用来仅仅影响元素的可见性，也就是说，元素的 <b class="text-danger">display</b> 属性不被改变，并且这个元素仍然能够影响文档流的排布。</p>
		<div class="my-base">
			<div class="my-code">
				<small class="my-clone">复制代码</small>
				<pre class="my-pre"></pre>
			</div>
			<div class="my-html">
				<!-- Usage as a class -->
				<div class="show">// Classes
				.show {
				  display: block !important;
				}
				.hidden {
				  display: none !important;
				}
				.invisible {
				  visibility: hidden;
				}</div>
				<div class="hidden">...</div>
			</div>
		</div>
	</div>
	<h3 class="bg-warning my-h3">标签</h3>
	<div class="my-code-check">
		<h4 class="my-h4 text-primary">实例&nbsp;&nbsp;<small class="my-check pull-right">查看代码</small></h4>
		<div class="my-base">
			<div class="my-code">
				<small class="my-clone">复制代码</small>
				<pre class="my-pre"></pre>
			</div>
			<div class="my-html">
				<h3>Example heading <span class="label label-default">New</span></h3>
			</div>
		</div>
	</div>
	<div class="my-code-check">
		<h4 class="my-h4 text-primary">可用的变体&nbsp;&nbsp;<small class="my-check pull-right">查看代码</small></h4>
		<p class="my-info">用下面的任何一个类即可改变标签的外观。</p>
		<div class="my-base">
			<div class="my-code">
				<small class="my-clone">复制代码</small>
				<pre class="my-pre"></pre>
			</div>
			<div class="my-html">
				<span class="label label-default">Default</span>
				<span class="label label-primary">Primary</span>
				<span class="label label-success">Success</span>
				<span class="label label-info">Info</span>
				<span class="label label-warning">Warning</span>
				<span class="label label-danger">Danger</span>
			</div>
		</div>
	</div>
	<h3 class="bg-warning my-h3">徽章</h3>
	<div class="my-code-check">
		<h4 class="my-h4 text-primary">实例&nbsp;&nbsp;<small class="my-check pull-right">查看代码</small></h4>
		<p class="my-info">给链接、导航等元素嵌套 <b class="text-danger">&lt;span class="badge"&gt;</b> 元素，可以很醒目的展示新的或未读的信息条目。</p>
		<div class="my-base">
			<div class="my-code">
				<small class="my-clone">复制代码</small>
				<pre class="my-pre"></pre>
			</div>
			<div class="my-html">
				<a href="javascript:;">Inbox <span class="badge">42</span></a>
				<button class="btn btn-primary" type="button">
				  Messages <span class="badge">4</span>
				</button>
			</div>
		</div>
	</div>
	<h3 class="bg-warning my-h3">警告框</h3>
	<div class="my-code-check">
		<h4 class="my-h4 text-primary">实例&nbsp;&nbsp;<small class="my-check pull-right">查看代码</small></h4>
		<p class="my-info">将任意文本和一个可选的关闭按钮组合在一起就能组成一个警告框，<b class="text-danger">.alert</b> 类是必须要设置的，另外我们还提供了有特殊意义的4个类（例如，<b class="text-danger">.alert-success</b>），代表不同的警告信息。<br/>目前提供了成功、消息、警告或危险。<b class="text-primary">没有默认类</b></p>
		<div class="my-base">
			<div class="my-code">
				<small class="my-clone">复制代码</small>
				<pre class="my-pre"></pre>
			</div>
			<div class="my-html">
				<div class="alert alert-success" role="alert">class="alert alert-success" role="alert"</div>
				<div class="alert alert-info" role="alert">class="alert alert-info" role="alert"</div>
				<div class="alert alert-warning" role="alert">class="alert alert-warning" role="alert"</div>
				<div class="alert alert-danger" role="alert">class="alert alert-danger" role="alert"</div>
			</div>
		</div>
	</div>
	<div class="my-code-check">
		<h4 class="my-h4 text-primary">可关闭的警告框&nbsp;&nbsp;<small class="my-check pull-right">查看代码</small></h4>
		<p class="my-info">为警告框添加一个可选的 <b class="text-danger">.alert-dismissible</b> 类和一个关闭按钮。</p>
		<div class="my-warning">确保在所有设备上的正确行为<br/>
务必给 <b class="text-danger">&lt;button&gt;</b> 元素添加 <b class="text-danger">data-dismiss="alert"</b> 属性。</div>
		<div class="my-base">
			<div class="my-code">
				<small class="my-clone">复制代码</small>
				<pre class="my-pre"></pre>
			</div>
			<div class="my-html">
				<div class="alert alert-warning alert-dismissible" role="alert">
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				  <strong>Warning!</strong> Better check yourself, you're not looking too good.
				</div>
			</div>
		</div>
	</div>
	<div class="my-code-check">
		<h4 class="my-h4 text-primary">警告框中的链接&nbsp;&nbsp;<small class="my-check pull-right">查看代码</small></h4>
		<p class="my-info">用 <b class="text-danger">.alert-link</b> 工具类，可以为链接设置与当前警告框相符的颜色。</p>
		<div class="my-base">
			<div class="my-code">
				<small class="my-clone">复制代码</small>
				<pre class="my-pre"></pre>
			</div>
			<div class="my-html">
				<div class="alert alert-success" role="alert">
					Well done! You successfully read this
				  <a href="javascript:;" class="alert-link">important alert message</a>.
				</div>
				<div class="alert alert-info" role="alert">
				  Well done! You successfully read this
				  <a href="javascript:;" class="alert-link">important alert message</a>.
				</div>
				<div class="alert alert-warning" role="alert">
				  Well done! You successfully read this
				  <a href="javascript:;" class="alert-link">important alert message</a>.
				</div>
				<div class="alert alert-danger" role="alert">
				  Well done! You successfully read this
				  <a href="javascript:;" class="alert-link">important alert message</a>.
				</div>
			</div>
		</div>
	</div>
	<h3 class="bg-warning my-h3">进度条</h3>
	<div class="my-code-check">
		<h4 class="my-h4 text-primary">基本实例&nbsp;&nbsp;<small class="my-check pull-right">查看代码</small></h4>
		<p class="my-info">默认样式的进度条</p>
		<div class="my-base">
			<div class="my-code">
				<small class="my-clone">复制代码</small>
				<pre class="my-pre"></pre>
			</div>
			<div class="my-html">
				<div class="progress">
				  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
				    <span class="sr-only">60% Complete</span>
				  </div>
				</div>
			</div>
		</div>
	</div>
	<div class="my-code-check">
		<h4 class="my-h4 text-primary">带有提示标签的进度条&nbsp;&nbsp;<small class="my-check pull-right">查看代码</small></h4>
		<p class="my-info">将设置了 <b class="text-danger">.sr-only</b> 类的 <b class="text-danger">&lt;span&gt;</b> 标签从进度条组件中移除 类，从而让当前进度显示出来。<br/>在展示很低的百分比时，如果需要让文本提示能够清晰可见，可以为进度条设置 <b class="text-danger">min-width</b> 属性。</p>
		<div class="my-base">
			<div class="my-code">
				<small class="my-clone">复制代码</small>
				<pre class="my-pre"></pre>
			</div>
			<div class="my-html">
				<div class="progress">
				  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
				    60%
				  </div>
				</div>
				<!--让文本提示能够清晰可见min-width-->
				<div class="progress">
				  <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;">
				    0%
				  </div>
				</div>
				<div class="progress">
				  <div class="progress-bar" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 2%;">
				    2%
				  </div>
				</div>
			</div>
		</div>
	</div>
	<div class="my-code-check">
		<h4 class="my-h4 text-primary">根据情境变化效果&nbsp;&nbsp;<small class="my-check pull-right">查看代码</small></h4>
		<p class="my-info">进度条组件使用与按钮和警告框相同的类，根据不同情境展现相应的效果。</p>
		<div class="my-base">
			<div class="my-code">
				<small class="my-clone">复制代码</small>
				<pre class="my-pre"></pre>
			</div>
			<div class="my-html">
				<div class="progress">
				  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
				    <span class="sr-only">40% Complete (success)</span>
				  </div>
				</div>
				<div class="progress">
				  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
				    <span class="sr-only">20% Complete</span>
				  </div>
				</div>
				<div class="progress">
				  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
				    <span class="sr-only">60% Complete (warning)</span>
				  </div>
				</div>
				<div class="progress">
				  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
				    <span class="sr-only">80% Complete (danger)</span>
				  </div>
				</div>
			</div>
		</div>
	</div>
	<div class="my-code-check">
		<h4 class="my-h4 text-primary">条纹效果&nbsp;&nbsp;<small class="my-check pull-right">查看代码</small></h4>
		<p class="my-info">通过渐变可以为进度条创建条纹效果，IE9 及更低版本不支持。</p>
		<div class="my-base">
			<div class="my-code">
				<small class="my-clone">复制代码</small>
				<pre class="my-pre"></pre>
			</div>
			<div class="my-html">
				<div class="progress">
				  <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
				    <span class="sr-only">40% Complete (success)</span>
				  </div>
				</div>
				<div class="progress">
				  <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
				    <span class="sr-only">20% Complete</span>
				  </div>
				</div>
				<div class="progress">
				  <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
				    <span class="sr-only">60% Complete (warning)</span>
				  </div>
				</div>
				<div class="progress">
				  <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
				    <span class="sr-only">80% Complete (danger)</span>
				  </div>
				</div>
			</div>
		</div>
	</div>
	<div class="my-code-check">
		<h4 class="my-h4 text-primary">动画效果&nbsp;&nbsp;<small class="my-check pull-right">查看代码</small></h4>
		<p class="my-info">为 <b class="text-danger">.progress-bar-striped</b> 添加 <b class="text-danger">.active</b> 类，使其呈现出由右向左运动的动画效果。IE9 及更低版本的浏览器不支持。</p>
		<div class="my-base">
			<div class="my-code">
				<small class="my-clone">复制代码</small>
				<pre class="my-pre"></pre>
			</div>
			<div class="my-html">
				<div class="progress">
				  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
				    <span class="sr-only">45% Complete</span>
				  </div>
				</div>
			</div>
		</div>
	</div>
	<div class="my-code-check">
		<h4 class="my-h4 text-primary">堆叠效果&nbsp;&nbsp;<small class="my-check pull-right">查看代码</small></h4>
		<p class="my-info">把多个进度条放入同一个 <b class="text-danger">.progress</b> 中，使它们呈现堆叠的效果。</p>
		<div class="my-base">
			<div class="my-code">
				<small class="my-clone">复制代码</small>
				<pre class="my-pre"></pre>
			</div>
			<div class="my-html">
				<div class="progress">
				  <div class="progress-bar progress-bar-success" style="width: 35%">
				    <span class="sr-only">35% Complete (success)</span>
				  </div>
				  <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: 20%">
				    <span class="sr-only">20% Complete (warning)</span>
				  </div>
				  <div class="progress-bar progress-bar-danger" style="width: 10%">
				    <span class="sr-only">10% Complete (danger)</span>
				  </div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--Ancillaries结束-->