<!-- Froms开始 -->
<div class="content Forms">
	<div class="my-code-check">
		<h4 class="my-h4 text-primary">基本实例&nbsp;&nbsp;<small class="my-check pull-right">查看代码</small><small class="my-change pull-right">自定义样式</small></h4>
		<div class="my-change-style">
			<p class="my-change-run">
				<small class="my-run-code">运行代码</small>
				<small class="my-back-code">复位样式</small>
			</p>
			<textarea class="form-control" rows="11"></textarea>
		</div>
		<div class="my-base">
			<div class="my-code">
				<small class="my-clone">复制代码</small>
				<pre class="my-pre"></pre>
			</div>
			<div class="my-html">
				<form>
				  <div class="form-group">
				    <label for="exampleInputEmail1">Email address</label>
				    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
				  </div>
				  <div class="form-group">
				    <label for="exampleInputPassword1">Password</label>
				    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
				  </div>
				  <div class="form-group">
				    <label for="exampleInputFile">File input</label>
				    <input type="file" id="exampleInputFile">
				    <p class="help-block">Example block-level help text here.</p>
				  </div>
				  <div class="checkbox">
				    <label>
				      <input type="checkbox"> Check me out
				    </label>
				  </div>
				  <div class="form-group">
					  <div class="input-group">
						<span class="input-group-addon">$</span>
						<input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
						<span class="input-group-addon">.00</span>
					  </div>
				  </div>
				  <div class="form-group">
					  <div class="input-group">
						<input type="text" class="form-control" placeholder="Search for...">
						<span class="input-group-btn">
						<button class="btn btn-default" type="button">Go!</button>
						</span>
					  </div>
				  </div>
				  <button type="submit" class="btn btn-default">Submit</button>
				</form>
			</div>
		</div>
	</div>
	<div class="my-code-check">
		<h4 class="my-h4 text-primary">内联表单&nbsp;&nbsp;<small class="my-check pull-right">查看代码</small></h4>
		<div class="my-base">
			<div class="my-code">
				<small class="my-clone">复制代码</small>
				<pre class="my-pre"></pre>
			</div>
			<div class="my-html">
				<form class="form-inline">
					<div class="form-group">
						<label for="exampleInputName2">Name</label>
						<input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
					</div>
					<div class="form-group">
						<label for="exampleInputEmail2">Email</label>
					    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
					</div>
					<button type="submit" class="btn btn-default">Send invitation</button>
				</form>
			</div>
		</div>
	</div>
	<div class="my-code-check">
		<h4 class="my-h4 text-primary">水平排列的表单&nbsp;&nbsp;<small class="my-check pull-right">查看代码</small></h4>
		<div class="my-base">
			<div class="my-code">
				<small class="my-clone">复制代码</small>
				<pre class="my-pre"></pre>
			</div>
			<div class="my-html">
				<form class="form-horizontal">
				  <div class="form-group">
				    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
				    <div class="col-sm-10">
				      <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
				    <div class="col-sm-10">
				      <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
				    </div>
				  </div>
				  <div class="form-group">
				    <div class="col-sm-offset-2 col-sm-10">
				      <div class="checkbox">
				        <label>
				          <input type="checkbox"> Remember me
				        </label>
				      </div>
				    </div>
				  </div>
				  <div class="form-group">
				    <div class="col-sm-offset-2 col-sm-10">
				      <button type="submit" class="btn btn-default">Sign in</button>
				    </div>
				  </div>
				</form>
			</div>
		</div>
	</div>
	<div class="my-code-check">
		<h4 class="my-h4 text-primary">多选和单选框&nbsp;&nbsp;<small class="my-check pull-right">查看代码</small></h4>
		<div class="my-base">
			<div class="my-code">
				<small class="my-clone">复制代码</small>
				<pre class="my-pre"></pre>
			</div>
			<div class="my-html">
				<label class="checkbox-inline">
				<input type="checkbox" id="inlineCheckbox1" value="option1"> 1
				</label>
				<label class="checkbox-inline">
				<input type="checkbox" id="inlineCheckbox2" value="option2"> 2
				</label>
				<label class="checkbox-inline">
				<input type="checkbox" id="inlineCheckbox3" value="option3" disabled> 3
				</label>
				<br/>
				<label class="radio-inline">
				<input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 1
				</label>
				<label class="radio-inline">
				<input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> 2
				</label>
				<label class="radio-inline">
				<input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" disabled> 3
				</label>
			</div>
		</div>
	</div>
	<div class="my-code-check">
		<h4 class="my-h4 text-primary">下拉列表（select）&nbsp;&nbsp;<small class="my-check pull-right">查看代码</small></h4>
		<div class="my-base">
			<div class="my-code">
				<small class="my-clone">复制代码</small>
				<pre class="my-pre"></pre>
			</div>
			<div class="my-html">
				<select class="form-control">
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
				</select>
			</div>
		</div>
	</div>
	<div class="my-code-check">
		<h4 class="my-h4 text-primary">文本域&nbsp;&nbsp;<small class="my-check pull-right">查看代码</small></h4>
		<div class="my-base">
			<div class="my-code">
				<small class="my-clone">复制代码</small>
				<pre class="my-pre"></pre>
			</div>
			<div class="my-html">
				<textarea class="form-control" rows="3"></textarea>
			</div>
		</div>
	</div>
	<div class="my-code-check">
		<h4 class="my-h4 text-primary">校验状态&nbsp;&nbsp;<small class="my-check pull-right">查看代码</small></h4>
		<p class="my-info">Bootstrap 对表单控件的校验状态，如 <span class="text-danger">error</span>、<span class="text-warning">warning</span> 和 <span class="text-success">success</span> 状态，都定义了样式。使用时，添加 <span class="text-warning">.has-warning</span>、<span class="text-danger">.has-error</span> 或 <span class="text-success">.has-success</span> 类到这些控件的父元素即可。任何包含在此元素之内的 .control-label、.form-control 和 .help-block 元素都将接受这些校验状态的样式。</p>
		<div class="my-base">
			<div class="my-code">
				<small class="my-clone">复制代码</small>
				<pre class="my-pre"></pre>
			</div>
			<div class="my-html">
				<div class="form-group has-success">
				  <label class="control-label" for="inputSuccess1">Input with success</label>
				  <input type="text" class="form-control" id="inputSuccess1" aria-describedby="helpBlock2">
				  <span id="helpBlock2" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>
				</div>
				<div class="form-group has-warning">
				  <label class="control-label" for="inputWarning1">Input with warning</label>
				  <input type="text" class="form-control" id="inputWarning1">
				</div>
				<div class="form-group has-error">
				  <label class="control-label" for="inputError1">Input with error</label>
				  <input type="text" class="form-control" id="inputError1">
				</div>
				<div class="has-success">
				  <div class="checkbox">
				    <label>
				      <input type="checkbox" id="checkboxSuccess" value="option1">
				      Checkbox with success
				    </label>
				  </div>
				</div>
				<div class="has-warning">
				  <div class="checkbox">
				    <label>
				      <input type="checkbox" id="checkboxWarning" value="option1">
				      Checkbox with warning
				    </label>
				  </div>
				</div>
				<div class="has-error">
				  <div class="checkbox">
				    <label>
				      <input type="checkbox" id="checkboxError" value="option1">
				      Checkbox with error
				    </label>
				  </div>
				</div>
			</div>
		</div>
	</div>
	<div class="my-code-check">
		<h4 class="my-h4 text-primary">添加额外的图标&nbsp;&nbsp;<small class="my-check pull-right">查看代码</small></h4>
		<p class="my-info">你还可以针对校验状态为输入框添加额外的图标。只需设置相应的 .has-feedback 类并添加正确的图标即可。<br/><b class="text-danger">反馈图标（feedback icon）只能使用在文本输入框 &lt;input class=&quot;form-control&quot;&gt; 元素上。</b></p>
		<div class="my-base">
			<div class="my-code">
				<small class="my-clone">复制代码</small>
				<pre class="my-pre"></pre>
			</div>
			<div class="my-html">
				<div class="form-group has-success has-feedback">
				  <label class="control-label" for="inputSuccess2">Input with success</label>
				  <input type="text" class="form-control" id="inputSuccess2" aria-describedby="inputSuccess2Status">
				  <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
				  <span id="inputSuccess2Status" class="sr-only">(success)</span>
				</div>
				<div class="form-group has-warning has-feedback">
				  <label class="control-label" for="inputWarning2">Input with warning</label>
				  <input type="text" class="form-control" id="inputWarning2" aria-describedby="inputWarning2Status">
				  <span class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true"></span>
				  <span id="inputWarning2Status" class="sr-only">(warning)</span>
				</div>
				<div class="form-group has-error has-feedback">
				  <label class="control-label" for="inputError2">Input with error</label>
				  <input type="text" class="form-control" id="inputError2" aria-describedby="inputError2Status">
				  <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
				  <span id="inputError2Status" class="sr-only">(error)</span>
				</div>
				<div class="form-group has-success has-feedback">
				  <label class="control-label" for="inputGroupSuccess1">Input group with success</label>
				  <div class="input-group">
				    <span class="input-group-addon">@</span>
				    <input type="text" class="form-control" id="inputGroupSuccess1" aria-describedby="inputGroupSuccess1Status">
				  </div>
				  <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
				  <span id="inputGroupSuccess1Status" class="sr-only">(success)</span>
				</div>
			</div>
		</div>
	</div>
	<div class="my-code-check">
		<h4 class="my-h4 text-primary">控件尺寸&nbsp;&nbsp;<small class="my-check pull-right">查看代码</small></h4>
		<p class="my-info">通过 <b class="text-danger">.input-lg / .input-sm</b> 类似的类可以为控件设置高度，通过<b class="text-danger"> .col-lg-* </b>类似的类可以为控件设置宽度。</p>
		<div class="my-base">
			<div class="my-code">
				<small class="my-clone">复制代码</small>
				<pre class="my-pre"></pre>
			</div>
			<div class="my-html">
				<div class="form-group">
					<input class="form-control input-lg" type="text" placeholder=".input-lg">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" placeholder="Default input">
				</div>
				<div class="form-group">
					<input class="form-control input-sm" type="text" placeholder=".input-sm">
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Froms结束 -->