<!-- Pages开始 -->
<div class="content Pages">
	<div class="my-code-check">
		<h4 class="my-h4 text-primary">分页——默认分页&nbsp;&nbsp;<small class="my-check pull-right">查看代码</small><!-- <small class="my-change pull-right">自定义样式</small> --></h4>
		<!-- <div class="my-change-style">
			<p class="my-change-run">
				<small class="my-run-code">运行代码</small>
				<small class="my-back-code">复位样式</small>
			</p>
			<textarea class="form-control" rows="11"></textarea>
		</div> -->
		<p class="my-info">分页按钮 <b class="text-danger">&lt;a&gt;</b> 可以用 <b class="text-danger">&lt;span&gt;</b> 替换去掉点击事件</p>
		<div class="my-base">
			<div class="my-code">
				<small class="my-clone">复制代码</small>
				<pre class="my-pre"></pre>
			</div>
			<div class="my-html">
				<nav aria-label="Page navigation">
				  <ul class="pagination">
				    <li>
				      <a href="javascript:;" aria-label="Previous">
				        <span aria-hidden="true">&laquo;</span>
				      </a>
				    </li>
				    <li><a href="javascript:;">1</a></li>
				    <li><a href="javascript:;">2</a></li>
				    <li><a href="javascript:;">3</a></li>
				    <li>
				      <a href="javascript:;" aria-label="Next">
				        <span aria-hidden="true">&raquo;</span>
				      </a>
				    </li>
				  </ul>
				</nav>
			</div>
		</div>
	</div>
	<div class="my-code-check">
		<h4 class="my-h4 text-primary">禁用和激活状态&nbsp;&nbsp;<small class="my-check pull-right">查看代码</small></h4>
		<p class="my-info">给不能点击的链接添加 <b class="text-danger">.disabled</b> 类、给当前页添加 <b class="text-danger">.active</b> 类</p>
		<div class="my-base">
			<div class="my-code">
				<small class="my-clone">复制代码</small>
				<pre class="my-pre"></pre>
			</div>
			<div class="my-html">
				<nav aria-label="Page navigation">
				  <ul class="pagination">
				    <li class="disabled">
				      <a href="javascript:;" aria-label="Previous">
				        <span aria-hidden="true">&laquo;</span>
				      </a>
				    </li>
				    <li class="active"><a href="javascript:;">1</a></li>
				    <li><a href="javascript:;">2</a></li>
				    <li><a href="javascript:;">3</a></li>
				    <li>
				      <a href="javascript:;" aria-label="Next">
				        <span aria-hidden="true">&raquo;</span>
				      </a>
				    </li>
				  </ul>
				</nav>
			</div>
		</div>
	</div>
	<div class="my-code-check">
		<h4 class="my-h4 text-primary">尺寸&nbsp;&nbsp;<small class="my-check pull-right">查看代码</small></h4>
		<p class="my-info"><b class="text-danger">.pagination-lg</b> 或 <b class="text-danger">.pagination-sm</b> 类提供了额外可供选择的尺寸</p>
		<div class="my-base">
			<div class="my-code">
				<small class="my-clone">复制代码</small>
				<pre class="my-pre"></pre>
			</div>
			<div class="my-html">
				<nav aria-label="Page navigation">
				  <ul class="pagination  pagination-lg">
				    <li>
				      <a href="javascript:;" aria-label="Previous">
				        <span aria-hidden="true">&laquo;</span>
				      </a>
				    </li>
				    <li class="active"><a href="javascript:;">1</a></li>
				    <li><a href="javascript:;">2</a></li>
				    <li><a href="javascript:;">3</a></li>
				    <li>
				      <a href="javascript:;" aria-label="Next">
				        <span aria-hidden="true">&raquo;</span>
				      </a>
				    </li>
				  </ul>
				</nav>
				<nav aria-label="Page navigation">
				  <ul class="pagination">
				    <li>
				      <a href="javascript:;" aria-label="Previous">
				        <span aria-hidden="true">&laquo;</span>
				      </a>
				    </li>
				    <li class="active"><a href="javascript:;">1</a></li>
				    <li><a href="javascript:;">2</a></li>
				    <li><a href="javascript:;">3</a></li>
				    <li>
				      <a href="javascript:;" aria-label="Next">
				        <span aria-hidden="true">&raquo;</span>
				      </a>
				    </li>
				  </ul>
				</nav>
				<nav aria-label="Page navigation">
				  <ul class="pagination  pagination-sm">
				    <li>
				      <a href="javascript:;" aria-label="Previous">
				        <span aria-hidden="true">&laquo;</span>
				      </a>
				    </li>
				    <li class="active"><a href="javascript:;">1</a></li>
				    <li><a href="javascript:;">2</a></li>
				    <li><a href="javascript:;">3</a></li>
				    <li>
				      <a href="javascript:;" aria-label="Next">
				        <span aria-hidden="true">&raquo;</span>
				      </a>
				    </li>
				  </ul>
				</nav>
			</div>
		</div>
	</div>
	<div class="my-code-check">
		<h4 class="my-h4 text-primary">翻页——默认实例&nbsp;&nbsp;<small class="my-check pull-right">查看代码</small></h4>
		<p class="my-info">在默认的翻页中，链接居中对齐。</p>
		<div class="my-base">
			<div class="my-code">
				<small class="my-clone">复制代码</small>
				<pre class="my-pre"></pre>
			</div>
			<div class="my-html">
				<nav aria-label="...">
				  <ul class="pager">
				    <li><a href="javascript:;">Previous</a></li>
				    <li><a href="javascript:;">Next</a></li>
				  </ul>
				</nav>
			</div>
		</div>
	</div>
	<div class="my-code-check">
		<h4 class="my-h4 text-primary">对齐链接&nbsp;&nbsp;<small class="my-check pull-right">查看代码</small></h4>
		<p class="my-info">你还可以把链接向两端对齐：</p>
		<div class="my-base">
			<div class="my-code">
				<small class="my-clone">复制代码</small>
				<pre class="my-pre"></pre>
			</div>
			<div class="my-html">
				<nav aria-label="...">
				  <ul class="pager">
				    <li class="previous"><a href="javascript:;"><span aria-hidden="true">&larr;</span> Older</a></li>
    				<li class="next"><a href="javascript:;">Newer <span aria-hidden="true">&rarr;</span></a></li>
				  </ul>
				</nav>
			</div>
		</div>
	</div>
</div>
<!--Pages结束-->